h1 {
  text-align: center;
}

hr {
  height: 4px;
  background-color: lightgray;
  width: 94%;
}

td {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

table {
  margin: auto;
}

.dark{
  background-color: darkgray;
}

.light {
  background-color: tan;
}